node_modules/
dist/
build/
coverage/
.vite/
__mf__temp/
__mf__virtual/
**/__mf__temp/
**/__mf__virtual/
**/__mf__prebuild__/
**/__mf__shared__/
**/localSharedImportMap.js
**/__mf__runtime__/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
.DS_Store
Thumbs.db
