@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@config "../../../tailwind.config.js";
@import "tailwindcss";

@layer base {
  body {
    @apply font-sans;
  }
}
